# Compiled class file
*.class

#maven ignore
target/

#idea
#.idea/
#/idea/
*.iml
*.ipr
*.iws

#eclipse
.settings/
.project
.classpath

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system
.DS_Store
Thumbs.db
